.app {
  background-color: moccasin;
}

h1 {
  margin-left: 40px;
  font-size: 48px;
}

.wrapper {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 20px;
}

.list-container {
  width: 50%
}

.aggregator-container {
  width: 45%;
}

.cart {
  display: flex;
  flex-flow: column;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
}


.display-list {
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.cart-list {
  margin: 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


.card {
  color: black;
  font-size: 18px;
  display: flex;
  flex-flow: column wrap;
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
}

.card img {
  display: flex;
  align-self: center;
  border-radius: 3px;
  margin-bottom: 20px;
}

.card h4 {
  margin-left: 10px;
}

.card p {
  margin-left: 10px;
  margin-bottom: 0px;
}

.card h5 {
  margin-top: 10px;
  display: flex;
  align-self: center;
}

.button-remove-all {
  margin-top: 20px;
  margin-bottom: 10px;
  align-self: center;
}